*{
    background-image: url(dark-castle-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    background-position: center;
    font-family: 'Young Serif', serif;
    background-attachment: fixed;
}

.text{
    color: white;
    text-shadow: 1.5px 1px 1px grey;
    text-align: center;
    padding-top: 2%;
    font-size: 20px;
    margin: 20px 50px;
}

.navbar{
    color: white;
    text-shadow: 1.5px 1px 1px grey;
    text-align: center;
    padding-top: 2%;
    font-size: 20px;
    margin: 20px 50px;
}

.link{
    color: white !important;
    text-shadow: 1.5px 1px 1px grey;
    text-align: center;
    padding-top: 2%;
    font-size: 25px !important;
}

.cím{
    color: white !important;
    text-shadow: 1.5px 1px 1px grey;
    text-align: center;
    padding-top: 2%;
    font-size: 32px !important;
    margin-right: 10px;
    margin-left: 10px;
}

a:hover{
    text-decoration: underline;
}

h1{
    text-align: center;
    color: white !important;
    font-size: 50px !important;
    text-decoration: overline;
}

h2{
    color: white !important;
    margin-left: 10%;
}

.elem{
    color: white !important;
    font-size: 20px;
    margin-left: 25%;
}

.pic{
    width: 8% !important;
    float: left;
}

.mimg{
    margin-top: 80px;
}

.mimg img{
    width: 60% !important;
    margin: 50px;
}

.mimg .row{
    padding-top: 30px;
}

.indexh2{
    text-align: start;
    font-size: 50px;
    margin: 0 !important;
}

.indexp{
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
}
